
.random-country{
 text-align: center;

}
.country-name{
  font-size: 40px;
  margin-top: -20px;
}
.bing-image{
  width: 450px;
  height: 350px;
  left: 16rem;
 margin-top: auto;
  
}
.image-block{
  text-align: center;
  margin: 5px;
}
.info{
  text-align: left;
  top: 30rem;
  font-size: 30px;
  
}
